<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>管理システム</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{css/style.css}">
</head>
<body>
<p><a th:href="@{/plan/list}">イベント</a>スケジュール管理とイベントを作成</p>
<p><a th:href="@{/admin/calendar/mc}">月別管理</a></p>
<p><a th:href="@{/admin/reserv}">予約状況</a>月日別での予約一覧情報</p>
<p><a th:href="@{/member/list}">会員リスト</a>会員登録者一覧</p>
<p><a th:href="@{/admin/time}">時間テーブル</a></p>
</body>
</html>