<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>スケジュール</title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1>プラン一覧</h1>
<p><a href="">新規作成</a></p>
	<table class="table table-bordered">
        <tr>
          <th>開催日</th>
          <th>カテゴリ</th>
          <th>利用時間</th>
          <th>コート</th>
          <th>募集人数</th>
          <th>空き人数</th>
          <th>金額</th>
          <th>リンク</th>
        </tr>
        <tr th:each="plan : ${planList}">
          <td>[[${#dates.format(plan.eventAt, 'yyyy年MM月dd日')}]]</td>
          <td>[[${plan.planType}]]</td>
          <td>[[${plan.timeZone}]]</td>
          <td>[[${plan.courtType}]]</td>
          <td>[[${plan.maximum}]]</td>
          <td>[[${plan.emptyMaximum}]]</td>
          <td>[[${plan.price}]]</td>
          <td>編集</td>
        </tr>
      </table>
      <p><a th:href="@{/admin/home}">戻る</a></p>
</body>
</html>