<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>スケジュール</title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1>予約詳細</h1>
<p><a href="">新規作成</a></p>
	<table class="table table-bordered">
        <tr>
          <th>開催日時</th>
          <th>カテゴリ</th>
          <th>コート</th>
          <th>募集人数</th>
          <th>空き人数</th>
          <th>金額</th>
        </tr>
        <tr>
          <td>[[${#dates.format(plan.eventAt, 'yyyy年MM月dd日')}]]/[[${plan.timeZone}]]</td>
          <td>[[${plan.planType.name}]]</td>
          <td>[[${plan.courtType}]]</td>
          <td>[[${plan.maximum}]]</td>
          <td>[[${plan.emptyMaximum}]]</td>
          <td>[[${plan.price}]]</td>
        </tr>
      </table>
	<table class="table table-bordered">
        <tr>
          <th>名前(チーム名)</th>
          <th>利用者ID（会員ID）</th>
          <th>電話番号</th>
          <th>利用者区別</th>
        </tr>
        <tr th:each="user : ${plan.users}">
          <td>[[${user.name}]]</td>
          <td>[[${user.memberId}]]</td>
          <td>[[${user.tel}]]</td>
          <td>[[${user.userType}]]</td>
        </tr>
      </table>


      <p><a th:href="@{/admin/home}">戻る</a></p>
</body>
</html>