<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>スケジュール</title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1>予約状況一覧</h1>
	<table class="table table-bordered">
        <tr>
          <th>開催日</th>
          <th>カテゴリ</th>
          <th></th>
        </tr>
        <tr th:each="reserv : ${reservs}">
          <td>[[${#dates.format(reserv.eventAt, 'yyyy年MM月dd日')}]]</td>
          <td>[[${reserv.planType.name}]]</td>
          <td><a th:href="@{/admin/reserv/detail/{id}(id=${reserv.planType.id})}">詳細</a></td>
        </tr>
      </table>
      <p><a th:href="@{/admin/home}">戻る</a></p>
</body>
</html>