<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>スケジュール</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<div class="container">
		<h1>予約状況一覧</h1>
	<table class="table">
		<thead>
			<tr>
				<th>開催日</th>
				<th>タイトル</th>
				<th>カテゴリ</th>
			</tr>
		</thead>
		<tr th:each="reserv : ${reservs}">
			<td>[[${#dates.format(reserv.eventAt, 'yyyy年MM月dd日')}]]</td>
			<td><a th:href="@{/admin/reserv/detail/{id}(id=${reserv.id})}">[[${reserv.title}]]</a></td>
			<td>[[${reserv.planType.name}]]</td>
		</tr>
	</table>
	<p>
		<a th:href="@{/admin/home}">戻る</a>
	</p>
	</div>
</body>
</html>