<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>スケジュール</title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1>会員一覧</h1>
	<table class="table table-bordered">
        <tr>
          <th>名前</th>
          <th>ユーザーID</th>
          <th>電話番号</th>
        </tr>
        <tr th:each="member : ${memberList}">
          <td>[[${member.name}]]</td>
          <td>[[${member.loginId}]]</td>
          <td>[[${member.tel}]]</td>
        </tr>
      </table>
      <p><a th:href="@{/admin/home}">戻る</a></p>
</body>
</html>