<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>スケジュール</title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<table class="table table-bordered">
        <tr>
          <th>名前</th>
          <th>利用者ID</th>
          <th>電話番号</th>
          <th>利用者区別</th>
        </tr>
        <tr th:each="user : ${userList}">
          <td>[[${user.name}]]</td>
          <td>[[${user.memberId}]]</td>
          <td>[[${user.tel}]]</td>
          <td>[[${user.userType}]]</td>
        </tr>
      </table>
</body>
</html>