<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.example.app.dao.CourtTypeDao">
	
	<select id="selectAll" resultType="com.example.app.domain.CourtType">
		SELECT * FROM courts
	</select>
	
	<select id="selectIdAll" resultType="Integer">
		SELECT courts.id FROM courts
	</select>
</mapper>