<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.example.app.dao.PlanDao">

	<resultMap id="joinedResult" type="com.example.app.domain.Plan">
		<id property="id" column="id"/>
		<result property="eventAt" column="event_at"/>
		<result property="maximum" column="maximum"/>
		<result property="emptyMaximum" column="empty_maximum"/>
		<result property="price" column="price"/>
		<association property="startTime" column="join_start_time_id"
					javaType="com.example.app.domain.TimeZone">
			<id property="id" column="join_start_time_id"/>
			<result property="time" column="start"/>
		</association>
		<association property="endTime" column="join_end_time_id"
					javaType="com.example.app.domain.TimeZone">
			<id property="id" column="join_end_time_id"/>
			<result property="time" column="end"/>
		</association>
		<association property="planType" column="plan_type_id"
					javaType="com.example.app.domain.PlanType">
			<id property="id" column="id"/>
			<result property="name" column="plan_type_name"/>
		</association>
		<association property="courtType" column="court_type_id"
					javaType="com.example.app.domain.CourtType">
			<id property="id" column="court_id"/>
			<result property="name" column="court_type_name"/>
			<result property="note" column="note"/>
		</association>
		<collection property="users" ofType="com.example.app.domain.User">
			<result property="name" column="user_name"/>
			<result property="memberId" column="member_id"/>
			<result property="tel" column="tel"/>
			<result property="userType" column="user_type"/>
		</collection>
	</resultMap>
	
	<select id="selectAll" resultMap="joinedResult">
		SELECT *, plan_types.name AS plan_type_name,
		join_start_time.time AS start, join_end_time.time AS end, 
		join_start_time.id AS join_start_time_id, join_end_time.id AS join_end_time_id,
		courts.name AS court_type_name, courts.id AS court_id
		FROM  plans
		JOIN plan_types ON plans.plan_type_id = plan_types.id
		JOIN courts ON plans.court_type_id = courts.id
		JOIN  time_zones AS join_start_time ON plans.start_time_id = join_start_time.id
		JOIN  time_zones AS join_end_time ON plans.end_time_id = join_end_time.id 
	</select>
	
	<select id="selectById" parameterType="int" resultMap="joinedResult">
		SELECT plans.id, plans.event_at,
		 plans.maximum, plans.empty_maximum,
		 plans.price, plan_types.name AS plan_type_name,
		 courts.name AS court_type_name,
		 join_start_time.time AS start, join_end_time.time AS end,
		 users.name AS user_name, users.member_id, users.tel,
		 users.user_type FROM plans 
		JOIN plan_types ON plans.plan_type_id = plan_types.id
		JOIN courts ON plans.court_type_id = courts.id
		JOIN  time_zones AS join_start_time ON plans.start_time_id = join_start_time.id
		JOIN  time_zones AS join_end_time ON plans.end_time_id = join_end_time.id 
		LEFT JOIN users ON plans.id = users.plan_id 
		WHERE plans.id = #{courtTypeId}
	</select>
	
	<select id="selectPlanDate" resultMap="joinedResult">
		SELECT *, plan_types.name AS plan_type_name,
		join_start_time.time AS start, join_end_time.time AS end,
		join_start_time.id AS join_start_time_id, join_end_time.id AS join_end_time_id,
		courts.name AS court_type_name, courts.id AS court_id
		FROM plans 
		JOIN plan_types ON plans.plan_type_id = plan_types.id
		JOIN courts ON plans.court_type_id = courts.id
		JOIN  time_zones AS join_start_time ON plans.start_time_id = join_start_time.id
		JOIN  time_zones AS join_end_time ON plans.end_time_id = join_end_time.id 
		WHERE plans.event_at = #{eventAt} AND plans.court_type_id = #{courtTypeId}
	</select>
</mapper>