<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>○○フットサル</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{css/style.css}">
</head>
<body>
<h2>[[${name}]]に参加する</h2>
<table class="table table-bordered">
        <tr>
          <th>開催日</th>
          <th>タイトル</th>
          <th>カテゴリ</th>
          <th>募集人数</th>
          <th>金額</th>
        </tr>
        <tr th:each="plan : ${plans}">
          <td>[[${#dates.format(plan.eventAt, 'yyyy年MM月dd日')}]]
          	<br>[[${#dates.format(plan.startTime.time, 'HH:mm')}]]~[[${#dates.format(plan.endTime.time, 'HH:mm')}]]</td>
          <td><a th:href="@{/reserv/detail(id=${plan.id})}">[[${plan.title}]]</a></td>
          <td>[[${plan.planType.name}]]</td>
          <td>募集：[[${plan.maximum}]]
          	<br>残り：[[${plan.emptyMaximum}]]</td>
          <td>[[${plan.price}]]</td>
        </tr>
</table>
</body>
</html>