@charset "UTF-8";

.flex{
	display: flex;
	justify-content: space-around;
}

.user-top{
	margin:0 auto;
	
}
a{
	text-decoration: none;
}

.plan-form{
	margin:0 auto;
}

/*利用者トップページ*/
.top-back{
	width:auto;
	min-height:500px;
	background-image:url("../../images/top.jpeg");
	background-size:cover;
	background-position:center;
	margin-top:40px;
}
.top h1{
	margin:20px auto;
}

/*予約フォーム*/
.reserv-form{
	margin-top:80px;
}
.reserv-submit{
	margin:0 auto;
	width:400px;
}
/*カレンダー*/
.calendar table{
	table-layout: fixed;
	width:300px;
}
.calendar th{
	background-color:#ddd;
	color:#000;
}
.calendar a {
	color:#000;
}

/*タイムテーブル*/
.time-table{
	margin-top:50px;
	table-layout:fixed;
	
}

