<!doctype html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<script th:src="@{/js/jquery-3.6.1.min.js}"></script>
	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
	<title>時間別</title>
</head>
<body>
<div class="container">
	<table class="table table-bordered time-table" border="1" cellpadding="5" cellspacing="0">
	<tr>
		<th>日付</th>
		<th>コート</th>
		<th th:each="time : ${timeZone}">[[${#dates.format(time.time, "HH:mm")}]]</th>
	</tr>
	<tr th:each="court : ${courtTypes}">
		<th th:if="${courtStat.first}" th:rowspan="${courtStat.size}">[[${#dates.format(eventDay, "M月d日")}]]</th>
		<th>[[${court.name}]]</th>
		<td th:each="time : ${timeZone}" th:with="plans = ${planMap.get(court.name)}">
			<th:block th:each="plan : ${plans}">
				<th:block th:if="${plan.startTime.id == time.id || plan.endTime.id -1 == time.id}">
					<a th:href="@{/admin/reserv/detail/{id}(id=${plan.id})}">[[${plan.title}]]</a>
				</th:block>	
			</th:block>
		</td>
	</tr>
	</table>
	<a th:href="@{/calendar}">戻る</a>
</div>

<script>
/*$(function(){
	  $('.time-table td').each(function(){
	    let self=$(this);
	    let txt=$(this).text();
	    let c=0;
	    while($(this).nextAll().eq(c).is(function(){return $(this).text()==txt})){
	      c++;
	      self.attr('data-colspan',c+1);
	    };
	    c=0;
	    while($(this).prevAll().eq(c).is(function(){return $(this).text()==txt})){
	      c++;
	      self.attr('data-del',1);
	    };
	    console.log(txt);
	  });
	  $('[data-del]').remove();
	  $('[data-colspan]').attr('colspan',function(){return $(this).data('colspan');}).removeAttr('data-colspan');
	});*/
</script>
</body>
</html>