<!doctype html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>時間別</title>
</head>
<body>
	<table border="1">
	<tr>
		<th>日付</th>
		<th>コート</th>
		<th>10:00</th>
		<th>11:00</th>
		<th>12:00</th>
		<th>13:00</th>
		<th>14:00</th>
		<th>15:00</th>
		<th>16:00</th>
		<th>17:00</th>
		<th>18:00</th>
		<th>19:00</th>
		<th>20:00</th>
		<th>21:00</th>
		<th>22:00</th>
	</tr>
	<tr>
		<td rowspan="2">1/27</td>
		<td>コートA</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>コートB</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	</table>
</body>
</html>